@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap'); /*Import de la police Nunito de chez Google*/



* {
  background-color: #0e0e0e;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  
}

/* A compléter pour faire le feu en personne*/
h3{
  background-color: #5dc8e7;
  color: white;
  padding: 20px;
  font-size: 0.9em;
  margin-top: 2em;
  margin-right: 60%;
  border-radius: 10px;
  display: inline-block;

}

#textContent{
  margin: 1%;
}

#messages{
    padding-bottom: 10%; /* Pour pas que le chat soit masqué par la chatBar */

}

#popUpLogo{
  width: 70px;
  height: 39px;
  background-color:white;
  margin-right: 20px;
}



.form_chat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d1d1d;
  background-color: white;
}
.chatBar{
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 20px;
  width: 50%;
}

#msg {
  width: 50%;
  margin-left: 20px;
  border-style: none;
  height: 20px;
}

#pseudo {
  text-align: center;
  width: 20%;
  border-style: none;
  height: 20px;
}

#sendButton{
  height: 40px;
  background-color: #5dc8e7;
  color: white;
  margin-left: 20px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sendButtonImage{
  width: 25px;
  height: 25px;
  background-color: #5dc8e7;
}

#infos{
  text-align: right;
  position: fixed;
  top: 10px;
  right: 10px;
}

input {
  background: #e9e9e9;
  color: #1d1d1d;
  padding: 12px 20px;
  font-size: 1rem;
  border-style: solid;
  border-radius: 5px;
  outline: transparent;
}

button {
  color: #1d1d1d;
  background-color: #e9e9e9;
  padding: 12px 15px;
  font-size: 1rem;
  border-style: solid;
  border-radius: 5px;
  outline: transparent;
}

